.header{
  display: flex;

  &__title{
    padding-top: 15px;
  }

  &__logo{
    width: 100px;
    height: auto;
  }
}

/* Style pour la liste non ordonnée */
ul {
  list-style-type: none; /* Suppression des puces */
  margin-top: 30px;
  margin-left: 20px;
  padding: 0;
}

/* Style pour chaque élément de la liste */
li {
  display: inline; /* Affichage en ligne pour placer les éléments côte à côte */
}

/* Style pour les liens */
a {
  display: inline-block; /* Affichage en bloc pour gérer les marges et les rembourrages */
  padding: 10px 20px; /* Rembourrage pour l'espace autour du texte du lien */
  color: #000; /* Couleur du texte */
  text-decoration: none; /* Suppression du soulignement par défaut */
  transition: 0.3s;
}

/* Style pour les liens au survol */
a:hover {
  background-color: #0056b3; /* Changement de couleur de fond au survol */
  color: #fff;
}
